<ion-header>
    <ion-toolbar primary>
        <ion-buttons left>
            <button (click)="voltar()">
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>Aplicativo</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content padding>
    <ion-card>
        <img width="100%" src="{{produto.thumbnail}}" />
        <ion-card-content>
            <ion-card-title>
                {{produto.nome}}
            </ion-card-title>
            <ion-list no-lines>
                <ion-item-sliding *ngIf="produto.precoMin != undefined">
                    <ion-item>
                      <ion-icon name="pricetag" margin-right favorite></ion-icon>
                        Menor valor: {{produto.precoMin | currency:'BRL':true:'1.2-2'}}
                    </ion-item>
                    <ion-item>
                      <ion-icon name="pricetag" margin-right danger></ion-icon>
                        Maior valor: {{produto.precoMax | currency:'BRL':true:'1.2-2'}}
                    </ion-item>
                </ion-item-sliding>
                <ion-item *ngIf="produto.precoMin == undefined">
                  Não há ofertas para esse produto.
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>
</ion-content>
